*{
    margin:0;
    padding:0;
}

/* for niamh */
/* Holder for nav bar object that is a dropdown */

.prettyGirl{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 80%;
    overflow: hidden;
    width: 50vw;
    height: 50vh;
}

.rando-image-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rando-image-holder img{
    padding: 1px;
    background-color: white;
    max-width: 30%;
    height: 10%;
}

.prettyText {
    margin-top: 20%;
    width: 100%;
    position: absolute;
}

.prettyText h1{
    padding-top: 25%;
    text-align: center;
    color: red;
    font-size: 50px;
    font-family: 'lobster', cursive;
    text-shadow: 0 0 100px rgb(255, 0, 119),
    0 0 500px blueviolet,
    0 0 500px rgb(68, 0, 128),
    0 0 500px violet,
    0 0 500px red;
animation: animate2 5s linear infinite;
}

.prettyText h2{
    padding-top: 0%;
    text-align: center;
    color: red;
    font-size: 50px;
    font-family:fantasy;
    text-shadow: 0 0 100px rgb(255, 0, 119),
    0 0 500px blueviolet,
    0 0 500px rgb(68, 0, 128),
    0 0 500px violet,
    0 0 500px red;
animation: animate2 5s linear infinite;
}

.prettyText h4{
    text-align: left;
    color: red;
    padding-top: 20%;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 100px rgb(255, 0, 119),
    0 0 500px blueviolet,
    0 0 500px rgb(68, 0, 128),
    0 0 500px violet,
    0 0 500px red;
animation: animate2 5s linear infinite;
}

.prettyText h3{
    text-align: left;
    color: white;
    font-size: 33px;
    font-family: 'lobster', cursive;
    text-shadow: 0 0 100px rgb(255, 0, 119),
    0 0 500px blueviolet,
    0 0 500px rgb(68, 0, 128),
    0 0 500px violet,
    0 0 500px red;
animation: animate2 5s linear infinite;
}

.prettyText h6{
    text-align: left;
    color: red;
    font-size: 50px;
    font-family: 'lobster', cursive;
    text-shadow: 0 0 100px rgb(255, 0, 119),
    0 0 500px blueviolet,
    0 0 500px rgb(68, 0, 128),
    0 0 500px violet,
    0 0 500px red;
animation: animate2 5s linear infinite;
}

.prettyGirl img{
    width: 100%;
    height: auto;
    object-fit:cover;
}

.niamhPage3{
    height: 50vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.dropdownN {
    float:left;
    overflow: hidden;
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* styling for dropdown object */
  .dropdownN .dropbtnN {
    cursor: pointer;
    font-size: 50px;  
    border: white;
    outline: white;
    color: red;
    background-color:aliceblue;
    font-family: inherit;
    margin: 0;
  }
  
  
  /* Hover styling for dropdown object */
  .niamhPage3 a:hover, .dropdownN:hover .dropbtnN, .dropbtnN:focus {
    color: palevioletred;  
}
  
    /* Placement for dropdown object's dropdown holder */
  .dropdown-contentN {
    display: none;
    position: absolute;
    background-color: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
/* styling for dropdown sub-object */
  .dropdown-contentN a {
    float: none;
    color: #1b73c1;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* hover effect for dropdown sub-objects */
  .dropdown-contentN a:hover {
    color: white;
  }

  /* needed to show the drop down holder...used in the script underneath the navbar div */
  .showN {
    display: block;
  }


.niamhPage2{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.niamhBox{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    color: white;
    background-color: black;
    font-size: 40px;
}

.niamhBox2{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 25px;
    height: 10vh;
}

.logo2{
    margin-left: 0px;
    position:relative;
    color: white;
    font-size: 100px;
    text-shadow: 0 0 100px rgb(255, 0, 119),
                0 0 500px blueviolet,
                0 0 500px rgb(68, 0, 128),
                0 0 500px violet,
                0 0 500px red;
    animation: animate2 5s linear infinite;
}

.niamhPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.logoN{
    position: relative;
    color: white;
    font-size: 4000%;
    text-shadow: 0 0 100px rgb(255, 0, 119),
                0 0 500px blueviolet,
                0 0 500px rgb(68, 0, 128),
                0 0 500px violet,
                0 0 500px red;
    animation: animate2 5s linear infinite;
}

@keyframes animate2{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/* for niamh */


/* holder for the main photo */
.mainPhoto {
    margin-top: 24%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*
styling for particles.js which gets its functionality from app.js
*/
#particles-js{
    position: fixed;
    z-index: -1;
    width:100%;
    height:100%;
    background: black;
    background-size:cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* for are the tabs at the top */
.navbar {
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    background-color: none;
    font-family: 'Abel', sans-serif;
  }

/* Styling and placement for nav bar objects that are a link */
.navbar a {
    float:left;
    font-size: 30px;
    color: #1b73c1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a img{
      width: 5px;
    float:left;
    text-align: center;
    padding: 100px 90px;
    background-image:url("Logo.png");
    width:fit-content;
  }

  .navbar a img:hover{
    float:left;
    text-align: center;
    padding: 100px 90px;
    background-image:url("Shaded-logo.png");
    width:fit-content;
  }

  .logo {
      width: 50%;
  }

  
  /* Holder for nav bar object that is a dropdown */
  .dropdown {
    float:left;
    overflow: hidden;
  }


  /* styling for dropdown object */
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 30px;  
    border: none;
    outline: none;
    color: #1b73c1;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

    
  
  
  /* Hover styling for dropdown object */
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: white;  
}
  
    /* Placement for dropdown object's dropdown holder */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
/* styling for dropdown sub-object */
  .dropdown-content a {
    float: none;
    color: #1b73c1;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* hover effect for dropdown sub-objects */
  .dropdown-content a:hover {
    color: white;
  }

  /* needed to show the drop down holder...used in the script underneath the navbar div */
  .show {
    display: block;
  }

/* styling for resume link holder*/
  .info{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-left:0%;
    margin-top: 8%;

    -webkit-box-reflect: below 4px linear-gradient(
        transparent, rgba(0,0,0,0.4));
}

/* for the resume link object */
    .info a{
        color: #1b73c1;
        text-decoration: none;
    }

    /* for the resume link object */
    .info a:hover{
        color: white;
    }

/* this is all for the wavy text */
.wavy {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 10%;

    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(
        transparent, rgba(0,0,0,0.4));
}

.wavy span {
    display: inline-block;
    color: white;
    font-size: 65px;
    text-transform: uppercase;
    animation: animate 10s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

.wavy span text{
    display: inline-block;
    color:#1b73c1;
    font-size: 65px;
    text-transform: uppercase;
    
}

.wavy span:hover {
    
    display: inline-block;
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    animation: animate 5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

.wavy span text:hover {
    
    display: inline-block;
    color: black;
    font-size: 55px;
    text-transform: uppercase;
    animation: animate 5s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate{
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}

/* this is all for the wavy text */


/* this is for the top right corner resume link */

.icon-bar {
    position: absolute;
    top: 70px;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 

    animation: animate 1s forwards infinite;
    animation-delay: calc(0.1s * var());
}

.icon-bar a {
    padding: 14px;
}

.icon-bar a img{
    width: 100px;
}

.icon-bar a:hover {
  opacity: 0.7;
}

.facebook {
    border-radius:50%;
    background-color:transparent;
    color: white;
}
/* this is for the top right corner resume link */

input[type=text], select, textarea{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width:100%;
    padding:12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical;
}






/* for the form on contact page */
.form-elements{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.preventSpam{
    background-color: transparent;
    border: transparent;
}

.pure-group{
    border: none;
    width: 100%;
}

#email{
    border: none;
    width: 100%;
}

#name{
    border: none;
    width: 100%;
}

#honeypot {
    visibility: hidden;
}


.box h2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 7%;
    font-size:30px;
    letter-spacing: 3px;
    font-weight:100;
    color: #1b73c1;

    -webkit-box-reflect: below -5px linear-gradient(
        transparent, rgba(0,0,0,0.2));
}

.box h1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0%;
    font-size:30px;
    letter-spacing: 3px;
    font-weight:100;
    color: #1b73c1;

    -webkit-box-reflect: below -5px linear-gradient(
        transparent, rgba(0,0,0,0.2));
}

/* for the form on contact page */



/* all for the about page*/

.superParent{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    /* border: 20px solid rebeccapurple; */
    display: flex;
    flex-direction:column;
    justify-content: space-around 5px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.parent1{
    width: 90%;
    height: 20%;
}

.child{
    height: 100%;
    opacity: unset;
}

.child h1{
    font-size: 50px;
    text-align: center;
    color:#1b73c1;
}

.child h2{
    text-align: center;
    color: #1b73c1;
    padding: 2px;
    border-radius: 10px;
}

.parent2{
    width: 90%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-shrink:inherit;
    margin: 5%;
    margin-top: 15%;
}

.child2{
    height: 100%;
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: initial;
    padding: 30px;
}
.child2 button{
    top: 0;
    background: white;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;


    text-transform: uppercase;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b73c1;
}

.child2 button:hover{
    background: white;
    opacity: 50%;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-transform: uppercase;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.biobutton-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 30%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  /* styling for dropdown sub-object */
  .biobutton-content Text {
    float: none;
    color: #1b73c1;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .biobutton2-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 30%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  /* styling for dropdown sub-object */
  .biobutton2-content Text {
    float: none;
    color: #1b73c1;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }


  /* hover effect for dropdown sub-objects */
  .dropdown-content Text:hover {
    color: white;
  }

  /* needed to show the drop down holder...used in the script underneath the navbar div */
  .show {
    display:table-caption;

  }


.child3{
    height: 100%;
    width: 31%;
    /* background: wheat;
    border: 10px dotted black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: initial;
}

.child3 img{
    border-radius: 50%;
    width: 70%;
    height: 80%;
}



/* all for the about page*/




/* all for porfolio tiles on portfolio page*/
.tile-holder{
    display: flex;
    justify-content: center;
}

.tile-page {
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    position:relative;
    width:19.6vw;
    height:19.6vw;
}

.tile-page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    position:relative;
    width:100%;
    height:19.6vw;
}

.tile-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left:10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0);
    border-radius:15px;
    background-color: white;
    padding: 5px;
}


.tile-inner img {
    border-radius:5%;
    height:auto;
    width:100%;
}

#clubfinity{
    width: 50%;
    margin-left: 25%;
}

.tile-inner:hover img {
    opacity:60%;
}


.tile-inner a {
    text-decoration:none;
}

.tile-inner .textBox {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align:center;
    position: relative;
    left: 0;
    right: 0;
    font-size:100%;
    text-decoration: none;
    color:#1b73c1;
    background: transparent;
}

.tile-inner .textBox:hover {
    color:black;
}

.tile-inner .textBox2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align:center;
    position: relative;
    left: 0;
    right: 0;
    font-size:15px;
    text-decoration: none;
    color:black;
    background: yellow;
}


.tile-inner .textBox:hover {
    color:black;
}

.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.displayed-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align:center;
    position: relative;
    color: white;
    font-size: 15px;
    top: 35%;
    left: 50%;
    margin:0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.displayed-textB {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align:center;
    position: relative;
    color: black;
    font-size: 15px;
    top: 35%;
    left: 50%;
    margin:0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tile-inner:hover .text-overlay {
    opacity:1;
}

#pac-man{
    width: 70%;
    margin-left: 15%;
}

/* all for porfolio tiles on portfolio page*/




/* styling for contact form*/

.boxTest{
    background-color: white;
}

/* styling for project form*/

.projectDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: purple; */
    padding: 2%;
}

.title{
    /* background: #1b73c1; */
    display: flex;
    justify-content: center;
    width: 60%;
    color: #1b73c1;
}

.main{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1b73c1;
    border-radius: 15px;
    width: 60%;
}

.main-title{
    width: 70%;
    text-align: center;
}

.main img{
    width: 30%;
}

.links{
    /* background: greenyellow; */
    color: white;
    display: flex;
    flex-direction: column;
}

.anchor{
    color: white;
    text-decoration: none;
    font-size: 50%;
}
.anchor:hover{
    color: #1b73c1;
}